<link rel="stylesheet" href="/css/dashboard.css">

<div id="overlay" class="hidden"></div>
<div id="overlay2" class="hidden"></div>
    <div id="formBox" class="hidden">
        <form>
            <label for="action"><h2>NEW</h2></label><hr>
            <label for="title">Title</label>
            <input type="text" id="title" name="title" required>   
            <label for="content">Content</label>
            <textarea id="content" name="content" required></textarea><br>
            <button id="newSubmit">Submit</button>
        </form>
    </div>
    <div id="formBox2" class="hidden">
        <form>
            <label for="action2"><h2>UPDATE</h2></label><hr>
            <label for="title2">Title</label>
            <input type="text" id="title2" name="title2" required>   
            <label for="content2">Content</label>
            <textarea id="content2" name="content2" required></textarea><br>
            <button id="newSubmit2">Submit</button>
        </form>
    </div>
<div id="dashBox">
    <button id="newBlog"><b>NEW</b></button>
</div>
<div class="blog-container">
    {{#each blogs}}
        <div class="blog-post-header">
            <h3>{{title}}</h3>
            <p>{{posted}}</p>
        </div>
        <div class="blog-post">
            <p>{{content}}</p>
            <div id="buttonBox">
                <button class="updateButton" data-id="{{id}}">Update</button>
                <button class="deleteButton" data-id="{{id}}">Delete</button>
            </div>
        </div>
        <div class="blog-comment">
            {{!-- comments go here --}}
        </div>
    {{/each}}
</div>


<script src="/js/dashboard.js"></script>